/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Roboto","Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
.menu {
    margin: 0;
    padding: 0;
}

li {
    display:inline-block;
    padding: 30px;
}

.prvniokno {
    font-weight: 700;
}

.vizualpozadi { 
    /* width:960px;
    height:400px; */
    position: relative;
    /* flex-shrink: inherit; */
}

.vizual2vrstva { 
    background-image: "pozadi";
     /* position: fixed;
    right: 780px;
    top: 133px;  */
    width: 50%;
    float: right;
}

/* .hlavnitext {
    width:50%;
    float:left;
} */

.nadpis {
    position: absolute;
    left: 850px;
    top: 60px;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 150    ;
    color: white;
    
}

.popis {
    position: absolute;
    left: 850px;
    top: 250px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 150;
    color: whitesmoke;  
}

.tlacitkostahnout {
position: absolute;
right: 1475px;
top: 420px; /* chtěla jsem zarovnat k bottom, ale to dělá divný věci */
border: 1px solid white;
border-radius: 10px 10px 10px 10px;
color:white;
padding:1em 2em 1em 2em;
background-color: #48418e;
font-size: 20px;
text-decoration: none;
}

.tlacitkoinfo {
position: absolute;
right: 1200px;
top: 420px;
border: 1px solid white;
border-radius: 10px 10px 10px 10px;
color:white;
padding:1em 2em 1em 2em;
background-color: transparent;
font-size: 20px;
text-decoration: none;
}

.spodnicast {
    display:flex;
    }
    .cestuj {order: 1;
    padding:10px;
    text-align: center;
    padding: 2em;
    }

    .chatuj {order: 2;
    padding:10px;
    text-align: center;
    padding: 2em;
    }

    .zažij  {order: 3;
    padding:10px;
    text-align: center;
    padding: 2em;
    }

    .slepytext {
        font-size: 15px;
        color: gray;
    }
h1 {
    font-size: 20px;
    color:#48418e;
}
.paticka {
    background-color: #25133d;
    text-align: center;
    color: white;
    }

.text { /* nejde mi zarovnat text na střed :-O */
    color: white;
    display: inline-block;když dám inline block automaticky mi 
    z toho vznikne box s paddingem? */
    text-align: center;
}